.profile {
  align-items: center;
  flex-direction: column;
  position: relative;

  &__body {
    flex-direction: column;

    .profile__img {
      border-radius: 50%;
    }
  }

  &__intro {
    width: 100%;
  }

  &__contact {
    width: 100%;
  }

  &__icon {
    margin: 0 10px;
  }

  .fa {
    transition-property: transform;
    transition-duration: 0.5s;

    &:hover {
      color: $midnight-green;
      transform: scale3d(1.2, 1.2, 1.2);
    }
  }
}
