.talks {
  background-color: $maastricht-blue;
  color: $baby-powder;
  position: relative;

  .columns {
    margin: 10px 20px;
  }

  &__card {
    border-radius: 5px;
    border: 1px solid $citrine;
    height: 100%;
    padding: 15px;
  }

  &__header {
    font-weight: bold;
  }
}
