.container.home-container
  .row
    .columns
      .column.home__section
        .h2.home__section-title Devex
      .column.home__section
        .h2.home__section-title Devs Cheat Sheet
  .row
    .columns
      .column.home__section
        .h2.home__section-title Achivements
      .column.home__section
        .h2.home__section-title Opinion
  .profile-container
    %a.profile__img-container
      = image_tag 'developer.png', srcset: { 'developer@2x.png': '2x' }, alt: 'Jaime profile photo', class: 'profile__img'
    %a.profile__name
      %h2 Jaime Loyola
