.container.home-container
  .row
    .columns
      .column.home-section
        .h2.home-section-title Devex
      .column.home-section
        .h2.home-section-title Devs Cheat Sheet
  .row
    .columns
      .column.home-section
        .h2.home-section-title Achivements
      .column.home-section
        .h2.home-section-title Opinion
