.talks.hero.is-fullheight
  .container
    .columns
      .column
        .talks__card
          %h3.talks__header How to get a job right out from college: With Open Source
          %p In this talk we learn about the different challenges faced when first trying to find a job after finishing college and at the same time we provide some meaningful advice about how to overcome those obstacles.
      .column
        .talks__card
          %h3.talks__header Pair programming
          %p Let's learn about the best practices when doing some Pair Programming
    = render 'components/navigator'
