$body-background-color: $baby-powder;
$home-section-color: $midnight-green;
$text-accent-color: $white;
$home-section-title-bg-color: $maastricht-blue;

$small-desktop: 'only screen and (min-width: 769px) and (max-width: 1024px)';
$desktop: 'only screen and (min-width: 1025px)';
